* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    font-family: sans-serif;
}

.contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.ruleta {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    overflow: hidden;
    transition: transform 4s cubic-bezier(0.25, 0.1, 0.25, 1);
    
}

.opcion {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
    transform: rotate(calc(72deg * var(--i)));
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
    background-color: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcion span {

    color: white;
    transform: rotate(45deg) translateX(50px);
    display: block;
    width: 120px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.flecha {
    font-size: 30px;
    color: yellow;
    position: absolute;
    top: -40px;
    z-index: 10;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}

button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffeb3b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
}

.fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: darkblue;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.fondo-imagen {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid white;

}

#pregunta-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.oculto {
    opacity: 0;
}
    

imagenJuego {
    width: 100%;
    height: 50px;
    object-fit: cover;

    border-radius: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}



.opcioness {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.marcador {
   
    padding-left: 550px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    align-items: right;
    display: flex;
    justify-content: right;
    background-color: darkred;
}